<div class="card">
  <div class="card-header">
    <h2>Edit Blog</h2>
  </div>
  <form id="edit-blog-form" class="card-body">
    <input type="hidden" id="blog-id" value="{{blogPrint.id}}" />

    <label class="form-label" for="blog-title">Title</label>
    <input type="text" name="blog-title" id="blog-title" value="{{blogPrint.title}}" class="form-input" />

    <label class="form-label" for="blog-body">Content</label>
    <textarea name="blog-body" class="form-input" id="blog-body">{{blogPrint.body}}</textarea>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/js/edit.js"></script>