<div>
    <div class="card p-3 m-3 shadow">
    <h1 class="text-center">All Blog Entries</h1>
    </div>
  {{#each blogsPrint}}
  <article class="card p-3 m-3 shadow">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/blog/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.name}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>